<h1><%= @author.name %></h1>

<p>Author's Posts:</p>
<% @author.posts.each do |post| %>
  <div><%= post.title %></div>
<% end %>

<p>Add a New Post: <%= link_to "New Post", new_author_post_path(@author) %></p>
